<div class="jumbotron">
  <div class="container">
    <h1>{{title}}</h1>
    <p>Star Wars is an American epic space opera franchise, centered on a film series created by George Lucas. It depicts the adventures of various characters "a long time ago in a galaxy far, far away".</p>
    <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more »</a></p>
  </div>
</div>

<div class="container">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-md-4">
      <h2>Films</h2>
      <p>The franchise began in 1977 with the release of the film Star Wars (subtitled Episode IV: A New Hope in 1981), by 20th Century Fox, which became a worldwide pop culture phenomenon. It was followed by the similarly successful sequels The Empire Strikes Back (1980) and Return of the Jedi (1983); these three films constitute the original Star Wars trilogy (Episodes IV–VI).</p>
      <p><a class="btn btn-default" routerLink="films" role="button">View details »</a></p>
    </div>
    <div class="col-md-4">
      <h2>Actors</h2>
      <p>Luke Skywalker is a fictional character appearing as the main protagonist of the original film trilogy of the Star Wars universe created by George Lucas. The character, portrayed by Mark Hamill, is an important figure in the Rebel Alliance's struggle against the Galactic Empire. He is the twin brother of Rebellion leader Princess Leia Organa of Alderaan.</p>
      <p><a class="btn btn-default" routerLink="actors" role="button">View details »</a></p>
    </div>
    <div class="col-md-4">
      <h2>Starships</h2>
      <p>A starship, or simply referred to as a ship, was a manned vehicle used for travelling in real space. The earliest starships transported spacers to new worlds through cryogenic freezing processes.Upon the invention of the hyperdrive, those that were equipped could travel faster than light by entering hyperspace, drastically reducing the journey times between two solar systems.</p>
      <p><a class="btn btn-default" routerLink="starShips" role="button">View details »</a></p>
    </div>
  </div>
</div>
